* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b1d2a;
}

.gain {
    width: 35px;
}

.gain1 {
    width: 25px;
}

.card-header h4 {
    text-transform: capitalize;
}

tr {
    margin: 0 auto;
}

.getModal {
    position: absolute;
    transition: 0.4s linear;
    transform: translateY(90px) translateX(-80px) rotate(-90deg);
}

.getModal:hover {
    transform: translateY(90px) translateX(-52px) rotate(-90deg);
}

.btn-success {
    border: none;
    background: #0b1d2a;
}

.btn-success:hover {
    background: #173e5b;
}

a {
    padding: 0 4px;
    color: #ffeeba;
    text-decoration: none !important;
}

.card-header {
    background: #c3e6cb;
    text-align: center;
}

.card-body {
    background: #ffe8a1;
}

a:hover {
    color: #fd7e14;
}

a:focus {
    color: #495057 !important;
}

#userList {
    padding: 0 15px;
}

.kirim {
    padding-top: 20px !important;
    margin: 0 auto;
}

#walkingMan {
    background-image: url('https://i.gifer.com/786g.gif');
    background-size: auto;
    background-position: center center;
    height: 300px;
}

.filters-button-group li {
    margin-top: 30px;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

input, button {
    box-shadow: none !important;
}

label {
    font-weight: 600;
    color: #34ce57;
}

input, textarea {
    background-color: #ffeeba !important;
    color: #c3e6cb;

}

.filters-button-group li:nth-child(1):active {
    background-image: linear-gradient(#f5c6cb 50%, #c3e6cb 50%);
}

.filters-button-group li:nth-child(3):active {
    background-color: #f5c6cb !important;
}

.filters-button-group li:nth-child(2):active {
    background-color: #c3e6cb !important;
}

@media (max-width: 576px) {
    .getModal {
        margin-top: 15px;
        position: unset;
        transform: none;

    }

    header {
        text-align: center;
    }

    .card-header h4 {
        font-size: 15px;
    }


    .getModal:hover {
        transform: none;

    }

    .tm-gallery-header {
        margin: 0 auto;
    }

    .gain {
        display: block;
        margin: 0 auto;
    }


}

/*.active{*/
/*    background: red;*/
/*}*/